/* CSS for waver.html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #BEE5FF;
}

/*navbar start*/
header{
  display: flex;
  justify-content: space-between;;
  align-items: center;
  padding: 30px 10%;
  font-size: 23px;
  width: 100%;
  position: fixed;
  background-color: #BEE5FF;
}



.logo{
  cursor: pointer;
  position: sticky;
  width: 100px;
}


/* navbar slut*/

/* Forside start*/

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  font-size: 75px;
  font-family: 'Sacramento', cursive;
  color: #212329;
}

.centered h5{
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  font-family: 'Montserrat', sans-serif;
  color: #212329;
}
/* Forside slut */


/*Main/side start*/
.section{
  width: 100%;
  min-height: 100vh;
}

.container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 150px;
}

.content-section{
  float: left;
  width: 55%;
  padding-top; 50px;
}

.titel h1{
  font-family: 'Montserrat', sans-serif;
  color: #212329;
}

.undertekst p{
  padding-top: 20px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #212329;

}

.billeder{
  float: right;
  width: 40%;
}

.billede{
  width: 100%;
  height: auto;
}


/*main/side slut*/



/* footer start*/
.container-footer{
  background-color: #212329;
}

.footer{
  width: 100%
  background-color: ;
  color: #2F4C2A;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.footer-header{
  flex: 1 1 70%;
  min-width: 25px;
}

.footer-header h2{
  margin: 10px;
  margin-left: 20px;
  color: #fff;
}

.footer-header p{
  margin: 10px;
  color: #fff;
  margin-left: 20px;
}

.footer-medier{
  flex: 1 1 30%;
  min-width: 15px;
  margin-top: 10px;
  color: #fff;
}
.footer-medier a{
  color: #fff;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  margin: 10px;

}
/*footer slut*/

@media screen and (max-width: 479px){

  .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .billeder{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .billeder img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }






@charset "UTF-8";
/* css document */
div{
  width: 100px;
  height: 100px;
  background: lightpink;

  animation-name: moving-box;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}



@keyframes moving-box{
  0%{
    transform: translateX(0px) translateY(0px);
  }
  25%{
    transform: translateX(300px) translateY(0px);
  }
  50%{
    transform: translateX(300px) translateY(300px);
  }
  75%{
    transform: translateX(0px) translateY(300px);
  }
  100%{
    transform: translateX(0px) translateY(0px);
}
}

.div{
  width: 100px;
  height: 100px;
  background: lightblue;

  animation-name: moving-box2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes moving-box2{
  0%{
    transform: translateX(0px) translateY(0px);
  }
  25%{
    transform: translateX(0px) translateY(300px);
  }
  50%{
    transform: translateX(300px) translateY(300px);
  }
  75%{
    transform: translateX(300px) translateY(0px);
  }
  100%{
    transform: translateX(0px) translateY(0px);

}
}
