*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #BEE5FF;
}

header{
  display: flex;
  justify-content: space-between;;
  align-items: center;
  padding: 30px 10%;
  font-size: 23px;
}

.logo{
  cursor: pointer;
}

.navbar{
  list-style-type: none; /*fjerner punkter*/
  cursor: pointer;
}

.navbar li{
  display: inline-block; /*ligger ved siden af hinanden*/
  padding: 0px 20px;
}

.navbar li a{
  transition: all 0.3s ease 0s;
}


.navbar li a:hover {
  background-color: #D6B5BB;
  color: black;

}

/* Add a color to the active/current link */
/*
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
*/

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 70px;
}
