*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #BEE5FF;
}

/*navbar start*/
header{
  display: flex;
  justify-content: space-between;;
  align-items: center;
  padding: 30px 10%;
  font-size: 23px;
}

.logo{
  cursor: pointer;
  position: sticky;
}

.navbar{
  display: flex;
  justify-content: space-between;

  list-style-type: none; /*fjerner punkter*/
  cursor: pointer;
  position: sticky;
}

nav ul{
  display: flex;  /*ligger ved siden af hinanden*/
}

.navbar li{
  padding: 0px 20px;
}

.navbar li a::after{
  content: "";
  width: 0%;
  height: 2px;
  background: #D6B5BB;
  display: block;
  margin: auto;
  transition:0.5s;
}

.navbar li a:hover::after{
  width: 100%;
}
/* navbar slut*/

/* Forside start*/

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 70px;
}
/* Forside slut */


/*main/side start*/
.section{
  width: 100%;
  min-height: 100vh;
}

.container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 200px;
}

.content-section{
  float: left;
  width: 55%;
}

.titel{

}


.image-section{
  float: right;
  width: 45%;
}

.image-section img{
  width: 100%;
  height: auto;
}

.content-section .titel{
  font-size: 20px;
}

.content-section .content p{
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}
/* main/ side slut*/

/* Projekter start*/
.title {
  height: 100%;
}


.projekter {
  margin-top: 1px;
  position: relative;
  width: 400px;
  height: 400px;
  display: inline-block;
}

.image {
  display: block;
  width: 400px;
  height: 400px;
}

.overlay {
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #eee;
}

.projekter:hover .overlay{
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.projekter:hover .overlayFade{
  width: 100%;
}

.overlayFade {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d6b5bb96;
}

.text{
  margin: auto;
}

/* kontakt form*/
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #2F4C2A;
}

.contact .content p{
  font-weight: 300;
  color: #2F4C2A;
}

.boksen{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.boksen .contactInfo{
  width:50%;
  display: flex;
  flex-direction: column;
}

.boksen .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.boksen .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  border-radius:50%;
  font-size: 22px;
}

.boksen .contactInfo .box .tekst{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #2F4C2A;
  flex-direction: column;
  font-weight: 300;
}

.boksen .contactInfo .box .tekst h3{
  font-weight: 500;
  color: #2F4C2A;
}


.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2 {
  font-size:30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.3s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #2F4C2A;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/* Kontakt slut*/







/* virker ikke endnu*/
/*til tlf skærm*/
/*
@media screen and (max-width: 479px){
  .container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section{
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .content-section .title{
    text-align: center;
    font-size: 19px;
  }
}
